<mat-form-field class="pati-create">
    <mat-label>Ad</mat-label>
    <input matInput #txtName>
  </mat-form-field> 

  <mat-form-field class="pati-create">
    <mat-label>Soyad</mat-label>
    <input matInput #txtSurname >
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Doğum Tarihi</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

   <mat-form-field class="pati-create"> 
    <mat-label>Baba Adı</mat-label>
    <input matInput #txtFatherName>
  </mat-form-field>
 
  <mat-form-field class="pati-create">
    <mat-label>Anne Adı</mat-label>
    <input matInput #txtMotherName>
  </mat-form-field>

  <mat-form-field class="pati-create"> 
    <mat-label>TC No</mat-label>
    <input matInput type="number" min="11" max="11" #txtIdNumber>
  </mat-form-field>

  <button mat-raised-button color="primary" class="patient-button" (click)="create(txtName , txtSurname , txtFatherName , txtMotherName , txtIdNumber)">Hasta Kayıt</button>
  
